/* @import './base.css'; */

@font-face {
  font-family: "HarmonyOS_Regular";
  src: url("./fonts/HarmonyOS_Sans_SC_Regular.ttf") format("truetype");
}
@font-face {
  font-family: "HarmonyOS_Medium";
  src: url("./fonts/HarmonyOS_Sans_SC_Medium.ttf") format("truetype");
}
body{
    margin: 0;
    font-family: PingFang SC,HarmonyOS_Regular,Helvetica Neue,Microsoft YaHei,sans-serif !important;
    font-size: 14px;
}
body *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}
body a{
  text-decoration: none;
}
body button{
  cursor: pointer;
  border: none;
}
object.svg{
  pointer-events: none;
}
:root{
  --text1: #61666D;
  --text2: #18191C;
  --blue1: #00AEEC;
  --grey1: #9499A0;
  --link1: var(--blue1);
  --Ga2: #E3E5E7;
}
.nickname, .counts .num, .service-title{
  font-family: PingFang SC,HarmonyOS_Medium,Helvetica Neue,Microsoft YaHei,sans-serif;
  font-weight: 500;
}